.construct .items li {
    list-style: none;
    width: 36px;
    height: 36px;
    background: transparent url(https://cdn-ak.f.st-hatena.com/images/fotolife/u/utusemi0903/20180911/20180911191929.png) no-repeat;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.construct .left {
    float: left;
    width: 340px;
    clear: both;
}
.construct .right {
    float: right;
    width: 329px;
    margin-right: -5px;
}
.construct {
    font-family: 'MinecraftRegular', sans-serif;
    font-size: 12px;
}
.construct h3 {
    font-size: 13px;
    margin-bottom: 3px;
    background-color: ;
    text-indent: -999em;
    background-repeat: no-repeat;
}