/*
このCSSはテーマ「Naked」を改変したものです。
Theme URI: http://blog.hatena.ne.jp/-/store/theme/6653812171397406126
*/

/*サイドバー黒線#acacac　日付など灰色#888　薄い灰色#ccc 背景など薄い灰色#f5f5f5　リンク青#0693cd*/
body {
    color: #444;
    font-family: Lato, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif ;
    font-size: 16px;
    background-attachment: fixed;
    background-size: cover;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    position: relative;
    z-index: 2;
    background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/u/utusemi0903/20180827/20180827234839.png);
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
}
@media screen and (max-width: 680px) {
    body {
        font-size: 15px;
        background-size: auto;
        background-repeat: repeat;
    }
}
#content a {
    text-decoration: none;
}
#content a:hover {
    opacity: .6;
}
/*
************レイアウト・フォント************
*/
/*レイアウト*/
#content {
    position: relative;
    background-color: #f5f5f5;
}
#blog-title-inner,
#content-inner {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}
#blog-title-content {
    padding: 80px 0 40px 0;
}
#content-inner {
    padding-top: 30px;
}
#content-inner::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}
#wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-right: -340px;
    padding-right: 340px;
}
#box2 {
    float: right;
    width: 300px;
    padding-bottom: 40px;
    margin-top: 10px;
}
article {
    position: relative;
    margin: 10px 0 40px 0;
    padding: 32px 32px 40px 32px;
    background-color: #fff;
}
#footer-inner {
    padding-top: 20px;
    padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
    #wrapper {
        float: none;
        margin-right: 0;
        padding-right: 0;
    }
    #box2 {
        float: none;
        width: 90%;
        margin: 20px auto 0 auto;
    }
}
@media screen and (max-width: 680px) {
    #blog-title-inner,
    #content-inner {
        width: 100%;
    }
    #content-inner {
        padding-top: 20px;
    }
    #blog-title-content {
        padding: 20px 10px 5px 10px;
    }
    article {
        margin: 10px 0 40px 0;
        padding: 10px 10px 20px 10px;
    }
    #box2 {
        width: 300px;
    }
}
/*数字フォントの変更部分*/
.entry-date a,
#box2 .urllist-date-link a,
#box2 .hatena-module-archive .hatena-module-body a,
.archive-entry-header .date a {
    font-family: 'Montserrat', sans-serif;
}

/*
************ヘッダー・ブログタイトル************
*/
#globalheader-container {
    color: #ccc;
}
#title {
    display: inline;
}
#title a {
    color: #fff;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 5px;
}
@media screen and (max-width: 680px) {
    #title a {
        font-size: 20px;
        letter-spacing: 2px;
    }
}

/*
************ブログの説明************
*/
#blog-description {
    color: #ececec;
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
}
@media screen and (max-width: 680px) {
    #blog-description {
        font-size: 10px;
    }
}
/*
************タイトル下***********
*/
/*メニュー*/
#n-menu {
    padding: 5px 0;
}
#n-menu .menu-inner {
    max-width: 1024px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
}
#n-menu .menu-btn {
    display: none;
}
#n-menu .menu-content {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0;
}
#n-menu .menu-content > li {
    position: relative;
    float: left;
    height: 100%;
    text-align: center;
}
#n-menu .menu-content > li > a {
    display: block;
    height: 100%;
    padding: 0 15px;
    color: #fff;
    font-size: 80%;
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;
}
#n-menu .menu-content > li > a:hover {
    border-bottom: 1px solid #fff;
}
/*２階層目*/
#n-menu .menu-content > li:hover .second-level {
    visibility: visible;
    top: 40px;
    opacity: 1;
    transition: .5s;
}
#n-menu .second-level {
    visibility: hidden;
    list-style-type: none;
    position: absolute;
    z-index: 9999;
    top: 60px;
    width: 200px;
    margin: 0;
    padding-left: 0;
    border: 2px solid #acacac;
    opacity: 0;
}
#n-menu .second-level > li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #acacac;
    text-align: center;
}
#n-menu .second-level > li:last-child {
    border-bottom: none;
}
#n-menu .second-level > li > a {
    display: block;
    padding: 15px;
    background-color: #fff;
    color: #444;
    font-size: 70%;
    font-weight: bold;
    text-decoration: none;
}
#n-menu .second-level > li > a:hover {
    background-color: #f6f6f6;
}
/*トグルメニュ*/
@media screen and (max-width:768px) {
    #n-menu {
        padding: 0;
    }
    #n-menu .menu-inner {
        width: 100%;
        height: auto;
    }
    #n-menu .btn-content {
        text-align: right;
    }
    #n-menu .menu-btn {
        display: block;
        padding: 10px 15px;
        color: #fff;
        font-size: 90%;
        cursor: pointer;
    }
    #n-menu .menu-content {
        display: none;
        width: 100%;
    }
    #n-menu .menu-content > li {
        float: none;
        width: 100%;
        height: 40px;
    }
    #n-menu .menu-content > li > a {
        width: 100%;
        padding: 0;
        line-height: 40px;
    }
    #n-menu .menu-content > li > a:hover {
        border: none;
    }
    #n-menu .second-level {
        display: none;
    }
}
@media screen and (max-width:680px) {
    #n-menu .menu-btn {
        font-size: 80%;
    }
}

/*
************記事************
*/
.entry-header {
    position: relative;
}
/*日付*/
.entry-date a {
    color: #888;
    font-size: 12px;
}
.entry-date a::before {
    margin-right: 1px;
    font-family: 'blogicon';
    content: '\f043';
}
.entry-date .hyphen {
    display: none;
}
.entry-date .date-month::before,
.entry-date .date-day::before {
    content: '.';
}
/*記事タイトル*/
.entry-title {
    margin: 0;
    padding: 10px 0 0 0;
    line-height: 1.2;
}
.entry-title a {
    color: #222;
    font-size: 26px;
    letter-spacing: 1px;
}
@media screen and (max-width: 680px) {
    .entry-title {
        margin: 0;
    }
    .entry-title a {
        font-size: 20px;
        letter-spacing: 0;
    }
}
/*カテゴリ*/
.entry-categories {
    margin-bottom: 10px;
}
.entry-categories a {
    margin: 0 4px 10px 0;
    color: #888;
    font-size: 12px;
}
.entry-categories a::before {
    margin-right: 3px;
    font-family: 'blogicon';
    content: '\f022';
}

/*編集リンク*/
.entry-header-menu {
    position: absolute;
    right: 0;
    top: 0;
}
.entry-header-menu a {
    display: inline-block;
    padding: 10px 20px;
    border: double #ccc;
    color: #222 !important;
    font-size: 12px;
    font-weight: bold;
}

/*記事*/
.entry-content {
    color: #444;
    font-size: 16px;
}
.entry-content a {
    color: #0693cd;
}
.etnry-content p {
    margin: 1em 0;
    line-height: 1.7em;
}
@media screen and (max-width: 680px) {
    .entry-content {
        font-size: 15px;
    }
}

.entry-content h1 {
    margin: 36px -32px 20px -32px;
    padding: 20px 5px 20px 20px;
    border-left: 5px solid #444;
    color: #444 ;
    font-size: 20px ;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
}
.entry-content h2 {
    margin: 36px -32px 20px -32px;
    padding: 20px 5px 20px 20px;
    background-color: #444;
    color: #fff ;
    font-size: 20px ;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
}
.entry-content h3 {
    margin: 32px -32px 20px -32px;
    padding: 12px 16px;
    border-left: 6px solid #444;
    background-color: #f6f6f6;
    color: #444;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 1px;
}
.entry-content h4 {
    margin: 28px -16px 20px -16px;
    padding: 0 12px;
    border-bottom: 10px solid #f6f6f6;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 1px;
}
.entry-content h5 {
    position: relative;
    margin: 28px 0 20px 16px;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
}
.entry-content h5::before {
    position: absolute;
    top: -webkit-calc(50% - 4px) ;
    top:         calc(50% - 4px);
    left: -16px;
    border: 5px solid #444;
    content: '';
}
.entry-content h6 {
    margin: 28px 0 20px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
}
@media screen and (max-width: 680px) {
    .entry-content h1 {
        margin: 30px -5px 20px -5px;
        padding: 15px 5px 15px 10px;
        border-left: 5px solid #444;
        color: #444 ;
        font-size: 16px;
        letter-spacing: 0;
    }
    .entry-content h2 {
        margin: 30px -5px 20px -5px;
        padding: 15px 5px 15px 10px;
        background-color: #444;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .entry-content h3 {
        margin: 30px -5px 20px -5px;
        padding: 10px;
        border-left: 5px solid #444;
        background-color: #f6f6f6;
        color: #444;
        font-size: 16px;
        letter-spacing: 0;
    }
    .entry-content h4 {
        margin: 20px 0 16px 0;
        padding: 0;
        border-bottom: 10px solid #f6f6f6;
        font-size: 16px;
        letter-spacing: 0;
    }
    .entry-content h5 {
        position: relative;
        margin: 20px 0 16px 16px;
        color: #444;
        font-size: 16px;
    }
    .entry-content h6 {
        margin: 20px 0 16px 0;
        font-size: 16px;
    }
}

a.entry-see-more {
    display: inline-block;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
}
@media screen and (max-width: 680px) {
    .entry-see-more {
        font-size: 12px;
    }
}

.entry-content blockquote {
    position: relative;
    margin: 0;
    padding: 30px;
    background-color: #f6f6f6;
}
.entry-content blockquote::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: .2;
    font-family: serif;
    font-size: 500%;
    line-height: 1;
    content: '“';
}
.entry-content blockquote::after {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .2;
    font-family: serif;
    font-size: 500%;
    line-height: 0;
    content: '”';
}
.entry-content blockquote p {
    margin-top: 0;
}
.entry-content blockquote cite {
    font-weight: bold;
    font-style: italic;
}
@media screen and (max-width: 680px) {
    .entry-content blockquote {
        padding: 20px;
        font-size: 90%;
    }
    .entry-content blockquote::before,
    .entry-content blockquote::after {
        font-size: 400%;
    }
}

.entry-content ul {
    margin: 16px 0;
    padding: 0 0 0 40px;
}
.entry-content ul ul {
    margin-top: 0;
    margin-bottom: 0;
}
.entry-content ol {
    margin: 16px 0;
    padding: 0 0 0 40px;
}
.entry-content ol ol {
    margin-top: 0;
    margin-bottom: 0;
}
@media screen and (max-width: 680px) {
    .entry-content ul,
    .entry-content ol {
        margin: 16px 0;
        padding: 0 0 0 24px;
    }
}

.entry-content dt {
    margin-top: 1.7em;
    border-bottom: 5px solid #f6f6f6;
    font-weight: bold;
}
.entry-content dd {
    margin-bottom: 1.7em;
}
@media screen and (max-width: 680px) {
    .entry-content dd {
        margin-left: 20px;
    }
}

.entry-content table {
    border-spacing: 0;
    border-collapse: collapse;
    max-width: none;
    width: 100%;
    margin: 0 0 1.7em;
    border: 1px solid #ccc;
    font-size: 90%;
    line-height: 1.6;
}
.entry-content th,
.entry-content td {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.entry-content th:first-child,
.entry-content td:first-child {
    border-left: none;
}
.entry-content th {
    display: table-cell;
    padding: 1em;
    background-color: #efefef;
    font-weight: bold;
}
.entry-content tbody {
    display: table-row-group;
    border-color: inherit;
    vertical-align: middle;
}
.entry-content td {
    padding: 1em;
    text-align: center;
}
.entry-content pre {
    padding: 24px;
    background-color: #222;
    color: #eee;
}
/*記事下*/
.entry-footer {
    font-size: 90%;
}
/*コメント欄*/
.comment-box {
    padding-bottom: 40px;
}
.comment-box  .comment {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
.comment-box .entry-comment {
    margin-bottom: 10px;
}
.comment-box .comment-user-name {
    margin-bottom: 0;
}
.comment-box .comment-user-id {
    color: #333;
    font-weight: bold;
}
.comment-box .hatena-id-icon {
    width: 40px;
    height: 40px;
}
.comment-box .comment-content {
    padding: 10px 30px;
    background-color: #f6f6f6;
}
/*
************サイドバー************
*/
#box2 {
    font-size: 90%;
}
.hatena-module-title a,
.hatena-module-body a {
    color: #444;
}
#box2 .hatena-module {
    margin-bottom: 40px;
}
.hatena-module-title {
    margin-bottom: 10px;
    padding: 5px 15px;
    border-left: 5px solid #ccc;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
@media screen and (max-width: 680px) {
    #box2 .hatena-module {
        margin-bottom: 20px;
    }
    .hatena-module-title {
        margin-bottom: 5px;
        padding: 5px 10px;
        font-size: 16px;
        letter-spacing: 1px;
    }
}

/*プロフィール*/
.profile-description a {
    color: #0693cd;
}
.profile-icon {
    margin: 0 16px 16px 0;
    border-radius: 4px;
    float: left;
    overflow: hidden;
}
/*検索*/
.search-form {
    position: relative;
    height: 40px;
    padding: 10px 0;
}
.search-module-input {
    width: 240px;
    width: -webkit-calc(100% - 60px) ;
    width:         calc(100% - 60px);
    height: 100%;
    margin: 0 auto;
    padding: 0 40px 0 20px;
    border: none;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #fff;
    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}
.search-module-input:focus {
    background-color: #555;
    color: #fff;
}
.search-module-button {
    position: absolute;
    top: 10px;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    -webkit-border-radius: 0 3px 3px 0;
       -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
    background: transparent url(https://cdn.blog.st-hatena.com/images/theme/search.png) no-repeat right center;
    background-position: center;
    text-indent: -9999px;
}
/*リンク*/
.hatena-module-links .hatena-urllist {
    list-style: none;
    margin: 0;
    padding: 8px 0;
}
.hatena-module-links li {
    display: block;
    border-top: 1px solid #acacac;
}
.hatena-module-links li:last-child {
    border-bottom: 1px solid #acacac;
}
.hatena-module-links a {
    display: block;
    padding: 8px 0;
    color: #0693cd !important;
}
/*最新記事・関連記事・注目記事*/
.recent-entries,
.entries-access-ranking,
.related-entries {
    margin: 0 0 10px 0;
    padding: 0;
}
.urllist-item {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
}
.urllist-item a {
    color: #444;
    text-decoration: none;
}
.urllist-date-link a,
.urllist-categories a {
    color: #888;
    font-size: 10px;
}
.urllist-date-link a::before {
    font-family: 'blogicon';
    content: '\f043';
}
.urllist-categories a::before {
    font-family: 'blogicon';
    content: '\f022';
}
.urllist-title-link {
    font-size: 13px;
    font-weight: bold;
}
.urllist-entry-body {
    color: #888;
    font-size: 10px;
}
/*カテゴリ*/
.hatena-module-category .hatena-urllist {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
.hatena-module-category li {
    display: block;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #acacac;
    font-size: 12px;
}
.hatena-module-category a {
    display: block;
    padding: 8px 10px;
    -webkit-transition: .3s;
       -moz-transition: .3s;
        -ms-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
}
.hatena-module-category a:hover {
    padding: 8px 5px 8px 15px;
}
.hatena-module-category a::before {
    margin-right: 5px;
    font-family: 'blogicon';
    content: '\f006';
}
/*月間アーカイブ*/
.hatena-module-archive .hatena-urllist {
    margin: 10px 0;
    font-size: 14px;
}
.archive-module-year {
    padding: 8px 0;
}
.archive-module-months {
    font-size: 13px;
}
.archive-module-month {
    padding-left: 30px;
}
/*最新のコメント*/
.recent-comments {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
.recent-comments li {
    padding: 10px 0;
    border-bottom: 1px solid #acacac;
}
.recent-comments a::before {
    font-family: 'blogicon';
    content: '\f01d';
}
/*参加グループ*/
.hatena-module-circles .hatena-urllist {
    margin: 10px 0;
    padding: 0;
}
.hatena-module-circles li {
    margin-bottom: 10px;
}
.hatena-module-circles a {
    font-weight: bold;
}

/*
************ページャー************
*/
.pager {
    overflow: hidden;
    margin-bottom: 40px;
}
.pager a {
    color: #0693cd;
}
.pager .pager-prev {
    float: left;
    width: 40%;
    text-align: left;
}
.pager .pager-next {
    float: right;
    width: 40%;
    text-align: right;
}

/*
************フッター************
*/
/*フッター*/
#footer {
    color: #ccc;
    text-align: center;
}
#footer a {
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
}
#footer a:hover {
    opacity: .6;
}
/*オリジナルフッター*/
#n-footer {
    padding: 40px 0;
    background-color: #eee;
}
#n-footer-inner {
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
}
#n-footer .content {
    width: 300px;
    margin-bottom: 10px;
}
@media screen and (min-width: 680px) {
    #n-footer-inner {
        width: 640px;
    }
    #n-footer .content {
        float: left;
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media screen and (min-width: 1110px) {
    #n-footer-inner {
        max-width: 1024px;
        width: 90%;
    }
    #n-footer .content {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
        margin-left: 15px;
    }
}

#n-copyright {
    padding-top: 30px;
    padding-bottom: 60px;
}
#n-copyright h4,
#n-copyright a {
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
/*
************Aboutページ************
*/
.page-about .entry-content .profile-icon {
    width: 32px;
    height: 32px;
}

/*
************Archive************
*/
.page-archive .archive-heading {
    margin: 0 0 20px 0;
    font-size: 24px;
}
.page-archive .archive-entries {
    margin: 10px 0 40px 0;
}
.page-archive .archive-entry {
    position: relative;
    margin-bottom: 20px;
    padding: 24px 32px;
    background-color: #fff;
}

/*日付*/
.page-archive .date a {
    color: #888;
    font-size: 12px;
}
.page-archive .date a::before {
    margin-right: 1px;
    font-family: 'blogicon';
    content: '\f043';
}
/*記事タイトル*/
.page-archive .entry-title {
    margin: 0;
    padding: 10px 0 0 0;
    line-height: 1.2;
}
.page-archive .entry-title a {
    color: #222;
    font-size: 26px;
    letter-spacing: 1px;
}
/*カテゴリ*/
.page-archive .categories {
    margin-bottom: 10px;
}
.page-archive .categories a {
    margin: 0 4px 0 0;
    color: #888;
    font-size: 12px;
}
.page-archive .categories a::before {
    margin-right: 3px;
    font-family: 'blogicon';
    content: '\f022';
}
@media screen and (max-width: 680px) {
    .page-archive .archive-heading {
        margin: 0 0 10px 0;
        font-size: 16px;
        text-align: center;
    }
    .page-archive .archive-entries {
        margin-bottom: 30px;
    }
    .page-archive .archive-entry {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fff;
    }
    .page-archive .entry-title a {
        font-size: 20px;
        letter-spacing: 0;
    }
    .page-archive .entry-description {
        font-size: 90%;
    }
}

/*
************カテゴリページ************
*/
/*パンくずリスト*/
#top-box {
    height: 60px;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
}
#top-box .breadcrumb {
    height: 100%;
}
#top-box .breadcrumb-inner {
    max-width: 1024px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 60px;
}
#top-box .breadcrumb-link,
#top-box .breadcrumb-child {
    color: #444;
    font-weight: bold;
    text-decoration: none;
}
#top-box .breadcrumb-gt {
    margin: 0 10px;
}

/*from Yukihy Life*/
/*目次*/
ul.table-of-contents {
    list-style-type: decimal;
    padding: 20px 10px 20px 40px;
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    font-size: 90%;
}
ul.table-of-contents ul {
    list-style-type: decimal;
    margin-left: 0;
    font-size: 90%;
}
ul.table-of-contents::before {
    position: relative;
    font-size: 150%;
    font-weight: bold;
    content: '目次';
}

/*--------------------------------------
  ヨメレバ・カエレバ（レスポンシブ）
--------------------------------------*/
.booklink-box,
.kaerebalink-box {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 25px;
    border: double #ccc;
    font-size: small;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.booklink-image,
.kaerebalink-image {
    float: left;
    min-width: 160px;
    margin: 0 15px 0 0;
    text-align: center;
}
.booklink-image img,
.kaerebalink-image img {
    margin: 0 auto;
    text-align: center;
}
.booklink-info,
.kaerebalink-info {
    overflow: hidden;
    margin: 0;
    line-height: 120%;
}
.booklink-name,
.kaerebalink-name {
    margin-bottom: 24px;
    line-height: 1.5em;
}
.booklink-powered-date,
.kaerebalink-powered-date {
    margin-top: 10px;
    font-family: verdana;
    font-size: 8px;
    line-height: 120%;
}
.booklink-detail,
.kaerebalink-detail {
    font-size: 12px;
}
.booklink-powered-date,
.kaerebalink-detail {
    margin-bottom: 15px;
}
.booklink-link2,
.kaerebalink-link1 {
    margin-top: 10px;
}
.booklink-link2 a,
.kaerebalink-link1 a {
    display: inline-block;
    float: left;
    width: 30%;
    margin: 5px 2px 0 0;
    padding: 10px 1px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    text-shadow: 1px 1px 1px #dcdcdc;
    color: #fff !important;
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
}
.booklink-link2 a:hover,
.kaerebalink-link1 a:hover {
    opacity: .6;
}
.booklink-link2 a:active
.kaerebalink-link1 a:active {
    position: relative;
    top: 1px;
}
.shoplinkamazon a {
    border: 1px solid #ff9901 !important;
    color: #ff9901 !important;
}
.shoplinkrakuten a {
    border: 1px solid #c20004 !important;
    color: #c20004 !important;
}
.shoplinkkindle a {
    border: 1px solid #007dcd !important;
    color: #007dcd !important;
}
.shoplinkkakakucom a {
    border: 1px solid #314995;
    color: #314995 !important;
}
.shoplinkyahoo a {
    border: 1px solid #7b0099 !important;
    color: #7b0099 !important;
}
.shoplinkyahoo img {
    display: none;
}
.shoplinkyahoo a {
    font-size: 10px;
}
.booklink-footer {
    display: none;
}

@media screen and (max-width: 680px) {
    .booklink-box,
    .kaerebalink-box {
        padding: 15px;
    }
    .booklink-image,
    .kaerebalink-image {
        min-width: initial;
        width: 100px !important;
    }
    .booklink-name > a,
    .kaerebalink-name > a {
        font-size: 15px;
        font-weight: bold;
    }
    .booklink-name,
    .kaerebalink-name {
        margin-bottom: 12px;
    }
    .booklink-powered-date,
    .kaerebalink-powered-date {
        margin-top: 5px;
    }
    .booklink-link2 a,
    .kaerebalink-link1 a {
        width: -webkit-calc(100% - 4px) ;
        width:         calc(100% - 4px);
        margin: 2px 0;
        padding: 10px 0;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
    }
}

/*アプリーチ*/
#appreach-box {
    margin-bottom: 10px;
    border: double 2px #ececec;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.appreach-links {
    margin-bottom: 10px;
}
.appreach-footer {
    margin-bottom: 0;
    line-height: 0;
}



/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/


#header-body {
    background: #998074 !important;
} 

h1,h2,h3,h4,h5,h6,div.hatena-module-title,ul.table-of-contents::before, .urllist-title {
        text-rendering: optimizeLegibility;
        font-family: Lato, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
div#footer-inner a, div#footer-inner p, div#footer-inner h3, div#header-body a, div#header-body p{
    color: #f4e4d0 !important;
}
#content {
    background: none;
}
div#footer-inner {
    background: #997463;
}
.entry-title a, .hatena-module-title, .entry-content, div.hatena-module-title, #sidebar_category_list li a, body, .hatena-module-title a, .hatena-module-body a, #top-box .breadcrumb-link, #top-box .breadcrumb-child, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6{
    color: #5c6b80;
}
.page-archive .entry-title a {
    color: #444;
    font-size: 22px;
}
.entry-content {
    line-height: 25px;
}
.entry-title a {
     font-size: 23px;
}


/* h3 */
.entry-content h3 {
    border-left: 5px solid #655a4e;
}
.entry-content h5::before {
    border: 5px solid #655a4e;
}

/* カテゴリー*/
#sidebar_category_list{
     width:100%;
     margin:0;
     padding:0;
     list-style-type:none;
}
#sidebar_category_list li{
     display: inline-block;
     width: calc(100% / 11 * 3);
     margin-right: calc(100% / 11 *1);
}
#sidebar_category_list li:nth-child(3n){
     margin-right:0;
}
#sidebar_category_list li a{
     display:inline-block;
     width:100%;
     text-align:center;
     color:#555;
     text-decoration: none;
     font-family: Arial, Helvetica, 游ゴシック, YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
     font-weight:bold;
     transition: .2s ease-in-out;
     letter-spacing: 1px;
}
#sidebar_category_list li a:hover{
     opacity: .7;
}
#sidebar_category_list li a img{
     width:100%;
     height:auto;
     image-rendering: pixelated;
     image-rendering: -webkit-crisp-edges;
     image-rendering: -moz-crisp-edges;
     -ms-interpolation-mode: nearest-neighbor;
     padding: 0;
}



/*パンくず box*/
p.box {
     padding: 20px;
     border: solid 1px #666;
     box-shadow: 0px 3px 0px rgba(1,1,1,0.1);
}
#top-box {
     background: none;
     max-width: 1024px;
     margin: 0 auto;
     border: none;
     height:30px;
}
#top-box .breadcrumb {
     margin-bottom:0;
}



/* メニューバー */
#gnav .gnav-inner {
     width: 100%;
     height: 38px;
     padding: 0 20px;
     overflow-x: auto;
     overflow-y: hidden;
     box-sizing: border-box;
     text-align: center;
     white-space: nowrap;
     margin: 0 auto 10px;
     -webkit-font-smoothing: antialiased;
     -webkit-overflow-scrolling: touch;
}
#gnav .menu {
     display: inline-block;
}
@media screen and (min-width: 769px)
#gnav .menu a {
     padding: 11px 15px 0px !important;
}
#gnav .menu a {
     display: block;
     color: #464646;
     font-size: 11px;
     font-weight: 500;
     text-decoration: none;
     padding: 11px 9px 0px;
     height: 40px;
     text-align: center;
     overflow: hidden;
     box-sizing: border-box;
     transition: .2s ease-in-out;
}
div.menu a{
     transition: .2s ease-in-out;
}
div.menu a:hover{
     opacity: .5; 
}




/* ブログタイトル */
h1#title a{
    font-family: 'Amatic SC', cursive;
    color:#FFF !important;
    font-size: 40px;
    font-weight: reguler;
}
#blog-title {
    background: url(https://cdn-ak.f.st-hatena.com/images/fotolife/u/utusemi0903/20180828/20180828002834.png);
    background-position: 0px 400px;
    color: #FFF;
}
#blog-title-content {
     padding: 40px 0 20px 0;
}
#blog-title {
     background: url(https://cdn-ak.f.st-hatena.com/images/fotolife/u/utusemi0903/20180828/20180828010428.png);
     background-position: -200px 350px;
     color: #FFF;
     max-width: 1024px;
     margin: 0 auto;
}



/*　サイドバー */
.hatena-module-title {
     background: url("https://cdn-ak.f.st-hatena.com/images/fotolife/u/utusemi0903/20180828/20180828225559.png");
     text-align: center;
     border-left: none;
     border-bottom: #ccc dashed 1px;
     border-top: #ccc dashed 1px;
     padding: 2px 0;
     margin-bottom: 15px;
     font-size: 15px;
     background-color: #f8f8f8;
}
.urllist-with-thumbnails li {
     background: none;
}
.archive-header-category .archive-heading {
     margin-bottom: .5em;
     margin-top: 5px;
     font-size: 1.5rem;
     border-bottom: solid 2px #977d3b;
}
.archive-header-category .archive-heading::after  {
     position: relative;
     content: " に関する記事一覧";
     font-size: 1.2rem;
}




/*シェアボタン*/
.share-3d{
     margin-bottom: 10px;
     text-align: center;
}
.share-3d-inner a {
     position: relative;
     display: inline-block;
     width: 18.5%;
     height: 24px;
     line-height: 20px;
     font-size: 16px;
     text-align: center;
     color: #ffffff;
     text-decoration: none;
     margin-right: 6px;
     padding-top: 6px;
}
.share-3d .small-text{
     font-size: 10px;
}
.share-3d .hatena-bookmark-button{
     background: #00A4DE;
     box-shadow: 0 3px #43638b;
}
.share-3d .twitter-button{
     background: #55ACEE;
     box-shadow: 0 3px #0092ca;
}
.share-3d .googleplus-button{
     background: #C53727;
     box-shadow: 0 3px #ad3a2d;
}
.share-3d .facebook-button{
     background: #405BA7;
     box-shadow: 0 3px #2c4373;
}
.share-3d .pocket-button{
     background: #EE4256;
     box-shadow: 0 3px 0 #c0392b;
}
.share-3d a:active{
     top: 3px;
     box-shadow: none;
}
.share-3d .hatena-bookmark-button:active{
     background: #43638b;
}
.share-3d .twitter-button:active{
     background: #0092ca;
}
.share-3d .googleplus-button:active{
     background: #ad3a2d;
}
.share-3d .facebook-button:active{
     background: #2c4373;
}
.share-3d .pocket-button:active{
      background: #c0392b;
}
@media screen and (max-width:1200px) {
    .small-text {
         display:none;
    }
    .share-3d-inner a{
         width: 17%;
    }
}



/* 関連記事 */
.related-entries li img {
     width: 100%;
}
.related-entries li {
     font-size: 100%;
     width: calc(92% / 4);
     float: left;
     position: relative;
     min-height: 190px;
     margin: 0 2% 2% 0;
     padding: 0;
}
.related-entries li a {
     text-rendering: optimizeLegibility;
     font-family: Lato, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.related-entries {
     margin: 0 0 10px 0;
     padding: 0;
     overflow: hidden;
}
.related-entries li .urllist-entry-body {
     display: none;
}
@media screen and (max-width:1000px) {
    .related-entries li {
        width: calc(96% / 2);
    }
}
.hatena-module-related-entries .hatena-module-title:after {
    content: "RECOMMENDED";
    font-size: 11px;
}
.hatena-module-related-entries .hatena-module-title {
    background: none;
    border: none;
    border-bottom: 3px dashed #ccc;
    text-align: left;
    font-size: 125%;
}



/*目次*/
ul.table-of-contents {
     padding: 20px 30px 20px;
     border: 2px solid #af8f84;
     border-radius: 5px;
     font-size: 90%;
     background: linear-gradient( -45deg, #fff 25%, #f4f4ed 25%, #f4f4ed 50%, #fff 50%, #fff 75%, #f4f4ed 75%, #f4f4ed );
     background-size: 4px 4px;
     position: relative;
}
ul.table-of-contents::before {
    content: none !important;
}
ul.table-of-contents > li:first-child:before {
    position: relative;
    font-size: 110%;
    font-weight: bold;
    display: block;
    text-align: center;
    border-bottom: 1px solid;
    font-family: "Font Awesome 5 Free";
    content: '\f0ca 目次';
    letter-spacing: 0.3em;
    margin-bottom: 5px;
}
.table-of-contents a{
     display: block;
     text-decoration: none;
     transition-duration: 0.3s /* カーソルが戻る時間 */ ;
     color: #5c6b80 !important;
}
.table-of-contents li a:hover {
     padding-left: 7px; /* カーソル重ねた時に移動する距離 */
     transition-duration: 0.3s /* カーソルが移動する時間 */
}
ul.table-of-contents {
     list-style-type: none;
     padding-bottom:20px;
}
ul.table-of-contents li ul{
     list-style-type: none;
}
ul#sidebar_category_list img {
     padding: 5px;
}



/* ページトップへ戻るボタン */
#pagetop {
     padding: 0;
     font-size: 16px;
     text-decoration: none;
     background-size: 4px 4px; 
     border: 2px solid #333;
     display: block;
     text-align: center;
     position: relative;
     color: #FFF;
     font-size: 15px;
     margin-top: 20px;
}
#pagetop img {
     height: 80px;
}
#pagetop p:after {
     content: "＜ トップに戻る";
     bottom: 35px;
     position: relative;
}
#pagetop p {
     margin: 0;
}
/* ページトップへ戻るボタン：ホバー時 */
#pagetop:after {
     position: absolute;
     top: 5px;
     left: 5px;
     z-index: -1;
      content: '';
     width: 101%;
     height: 105%;
     background-color: #af8f84;
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
}
#pagetop:hover::after {
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
#content #pagetop:hover {
     opacity: 1.0 !important;
}



/*フッター　いろいろ非表示*/
.footer-action-wrapper{
display:none;
}
.touch-item-list{
display:none;
}
.guest-footer-content{
display:none;
}




/*  追尾する目次  */
#stoc-module {
  backface-visibility: hidden;
}
#stoc-module.tracking {
  margin-bottom: 0;
}
#stoc-module.fixed {
  position: fixed;
}
#stoc-module.absolute {
  position: absolute;
}
#stoc-module.sticky {
  position: -webkit-sticky;
  position: sticky;
}
#stoc-module.fade-in {
  animation: fadeIn 300ms;
}
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
#stoc {
  overflow-y: auto;
}
#stoc.shadow {
  /* Shadows */
  background:
    radial-gradient(farthest-side at top, rgba(0,0,0,.17), transparent) top / 100% 11px,
    radial-gradient(farthest-side at bottom, rgba(0,0,0,.17), transparent) bottom / 100% 11px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
#stoc ol {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: none;
}
#stoc > ol {
  padding-left: 0;
}
#stoc.shadow > ol {
  /* Shadow covers */
  background:
    linear-gradient(#fff 30%, transparent) top / 100% 40px,
    linear-gradient(transparent, #fff 70%) bottom / 100% 40px;
  background-repeat: no-repeat;
  background-attachment: local;
}
#stoc a {
  padding: 2px 2px 2px 6px;
  display: block;
  text-decoration: none;
}
#stoc:not(.touch) a:hover {
  background-color: rgba(0,0,0,.04);
  text-decoration: underline;
}
#stoc .active {
  background-color: rgba(0,0,0,.04);
}

#stoc::-webkit-scrollbar {
  width: 8px;
  background: #ececec;
}
#stoc::-webkit-scrollbar-button {
  display: none;
}
#stoc::-webkit-scrollbar-thumb {
  background: #b1b1b1;
}
#stoc ol li {
     list-style-type: none;
}
#stoc ol li a {
   　 transition-duration: 0.3s ;
}
#stoc ol li a:hover {
 　  padding-left: 7px !important;
 　  transition-duration: 0.3s !important;
}
#stoc-title {
     background: none;
     border-top: none;
     border-bottom: none;
     border-left: 3px solid #655a4e;
     padding-left: 10px;
     text-align: left;
     margin-top: 150px;
}
nav#stoc ol > li > ol > li {
    list-style-type: circle;
}
nav#stoc ol > li {
    list-style-type: square;
}
nav#stoc ol > li > ol > ol > li {
    list-style-type: none;
}




/*スマホ*/
@media screen and (max-width:800px) {
    #top-box {
         display: none;
    }
    #content-inner {
    padding-top: 0 !important;
    }
    #blog-title-content {
        padding: 10px;
        text-align: center;
    }
}



/*フォローボタン３つ*/
.follow-btn{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.follow-btn a {
    display: inline-block;
    height: 45px;
    line-height: 22px;
    width: 25%;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.follow-btn .hatena {
    color: #3D3F44;
    border: 2px solid #3D3F44;
    background: #ffffff; 
}
.follow-btn .twitter {
    color: #00ACEE;
    border: 2px solid #00ACEE;
    background: #ffffff; 
}
.follow-btn .feedly { 
    color: #70CA3B;
    border: 2px solid #70CA3B;
    background: #ffffff;
}
.follow-btn .hatena:hover {
    color: #ffffff;
    background: #3D3F44;
    transition: all .3s;
}
.follow-btn .twitter:hover {
    color: #ffffff;
    background: #00ACEE;
    transition: all .3s;
}
.follow-btn .feedly:hover {
    color: #ffffff;
    background: #70CA3B;
    transition: all .3s;
}
.text-small{
    font-size: 8px;
}